[submodule "sandbox.iot.arduino"]
	path = sandbox.iot.arduino
	url = https://github.com/kjwenger/sandbox.iot.arduino.git
[submodule "sandbox.iot.raspberrypi"]
	path = sandbox.iot.raspberrypi
	url = https://github.com/kjwenger/sandbox.iot.raspberrypi.git
[submodule "sandbox.iot.beaglebone"]
	path = sandbox.iot.beaglebone
	url = https://github.com/kjwenger/sandbox.iot.beaglebone.git
[submodule "sandbox.iot.coap"]
	path = sandbox.iot.coap
	url = https://github.com/kjwenger/sandbox.iot.coap.git
